#form_regi{
    position: relative;
    right: 120px; 
}
#tarjeta{
    position: relative;
    right: 0px; 
} 
#tarjeta1{
    position: relative;
    right: 100px; 
} 

#table{
    position: relative;
    right: 40%;
}